body {
  margin: 0;
  font-family: Mynerve, Pretendard Variable, Pretendard JP Variable,
    -apple-system, system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica,
    Arial, Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  margin: 0;
  font-size: 14px;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.42857143;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
select,
span,
textarea {
  font-family: Pretendard Regular;
  font-size: inherit;
  line-height: inherit;
}
